<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>TodoList</title>
</head>
<body>
    <div id="root">
        <div class="container-main">
            <div id="header">
                <h1>Todo List</h1>
            </div>
            <div id="main">
                <div class="top-main">
                    <input v-model="inputVar" type="text" placeholder="Inserire nuovo elemento">
                    <button @click="addElement">Aggiungi</button>
                </div>
                <div class="bottom-main" v-for="(elemento, index) in listaTodo">
                    <div class="item">{{elemento.text}}</div>
                   
                </div>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script/javascript.js"></script>
</body>
</html>